{% extends "layout.html" %}
{% block content %}
    <h1>Flask Blog</h1>
    <p>
        Bu sayt test məqsədi üçün Python\Flask ilə
  hazirlanıb..Qeydiiyat və Giris etmek olar.xahis olunur şəxsi email ve sifrenizden
  istifadə etməyin.sadə default gmail və sifrələrdən istifadə edin
qeydiyyat məlumatlarinin və elave etdiyiniz postların bir muddetden sonra heroku ve database ile əlaqəli
 silinmesi ola biler.

  Əlavə suali olan olsa  <span>Talibovf976@gmail.com</span>
   hesabi ilə əlaqə saxlaya biler..Oxudugunuz ucun coxsagolun
    </p>
{% endblock content %}
